@charset "UTF-8"; 

body {
  background-color: rgb(230, 212, 167);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
h1 {
  color: blue;
  background-color: aliceblue;
}
h2 {
  color: darkred;
}
p {
  text-align: justify;
}